.current-marker-box{
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 99;
    .container{
        padding: 20px 30px;
        background-color: rgba(100, 100, 100, 0.8);
        font-family: "Open Sans";
        border-radius: 3px;
        h2{
            padding: 10px 15px;
            margin: 0px;
            color: #fff;
        }
        .form-input{
            margin: 10px 0px;
        }
        .address{
            color: #fff;
            font-size: 15px;
            padding: 5px 0px;
            max-width: 250px;
            div{
                margin: 10px 0px;
                font-size: 17px;
                font-weight: bolder;
            }
        }
    }
}
