.main {
  position: relative;
  margin: 0px; }
  .main .current-marker-form {
    position: absolute;
    left: 30px;
    top: 30px;
    z-index: 99; }
    .main .current-marker-form .container {
      padding: 20px 10px;
      background-color: rgba(100, 100, 100, 0.8);
      font-family: "Open Sans";
      border-radius: 3px; }
      .main .current-marker-form .container h2 {
        padding: 10px 15px;
        margin: 0px;
        color: #fff; }
      .main .current-marker-form .container input {
        border: 0px;
        border-radius: 5px;
        border-radius: 2px solid #ccc;
        background-color: rgba(50, 50, 50, 0.8);
        color: #fff;
        font-size: 15px;
        margin: 5px 10px;
        padding: 10px;
        width: 85%; }
      .main .current-marker-form .container .address {
        color: #fff;
        font-size: 15px;
        padding: 5px 15px;
        max-width: 250px; }
        .main .current-marker-form .container .address div {
          margin: 10px 0px;
          font-size: 17px;
          font-weight: bolder; }
      .main .current-marker-form .container button {
        border: 0px;
        padding: 10px 20px;
        margin: 10px;
        border-radius: 3px;
        font-size: 15px;
        width: 90%; }
        .main .current-marker-form .container button:hover {
          background-color: #ccc; }
