.MenuButton {
  display: inline-block;
  height: 50px;
  width: 50px;
  color: #fff;
  background-color: rgba(50, 50, 50, 0.8);
  border: 2px solid #eee;
  line-height: 50px;
  text-align: center;
  border-radius: 50px;
  cursor: pointer; }
