.menu-view{
    display: inline-block;
    ul{
        padding: 0px;
        margin-block-end: 0em;
        margin-block-start: 0em;
        list-style: none;
        line-height: 50px;
        li{
            cursor: pointer;
            margin-left: 3px;
            color: #fff;
            background-color: rgba(50, 50, 50, 0.8);
            font-weight: 600;
            font-size: 14px;
            border-radius: 25px;
            border: 2px solid rgba(255, 255, 255, 0.8);
            display: inline-block;
            &.active{
                background-color: rgba(255, 255, 255, 0.8);
                border: 2px solid rgba(50, 50, 50, 0.8);
                color: #555;
            }
            .fa{
                margin-right: 5px;
            }
            .menu-buttons{
                all: unset;
                padding: 0px 35px;
            }
        }
    }
}
