.Report {
  display: inline-block; }
  .Report .button {
    cursor: pointer;
    font-size: 14px;
    display: inline-block;
    line-height: 50px;
    margin-left: 3px;
    color: #fff;
    background-color: rgba(50, 50, 50, 0.8);
    border-radius: 25px;
    border: 2px solid rgba(255, 255, 255, 0.8);
    background-color: rgba(50, 50, 50, 0.8);
    font-weight: 600;
    padding: 0 35px; }
    .Report .button .fa {
      margin-right: 10px; }
